body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: ArtifaktElement;
}

#header, #sidebar, #preview {
    position: absolute;
}

#toolbar {
    position: relative;
    top: 47px;
    display: flex;
    flex-direction: column;
    background-color: #2c2c2f; /* Fondo del toolbar */
    position: fixed;
    width: 200px; /* Ancho normal del toolbar */
    height: 100%;
    text-decoration: none;
    align-items: flex-start;
    z-index: 3000;
    justify-content: initial;
    transform-origin: top;
    transition: width 0.3s ease; /* Transición suave para el cambio de ancho */
}

#header {
    height: 3em;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #252529;
    color: #c7c7cc;
}

/*#sidebar {
    width: 25%;
    left: 0;
    top: 3em;
    bottom: 0;
    overflow-x: auto;
    overflow-y: scroll;
    background-color: #3b3b3f;
    color: #c7c7cc;
    white-space: nowrap;
}

#sidebar * {
    overflow: visible;
    white-space: nowrap;
} */
#sidebar {
    width: 50%;
    left: 200px; /* Alineamos el sidebar con el toolbar */
    top: 3em;
    bottom: 0;
    overflow-x: auto;
    overflow-y: scroll;
    background-color: #3b3b3f;
    color: #c7c7cc;
    white-space: nowrap;    
}

#sidebar.hidden {
    transform: translateX(-100%); /* Oculta el sidebar al moverlo fuera de la pantalla */
}

#preview {
    top: 3em;
    right: 0;
    bottom: 0;
    transition: width 0.3s ease, left 0.3s ease; /* Transición para el ancho y desplazamiento del preview */
    width: 75%; /* El viewer ocupa el 75% cuando el sidebar está visible */
}

#preview.expanded {
    width:89%; /* El viewer ocupa todo el ancho cuando el sidebar está oculto */
    left: 200px; /* El viewer se mueve a la izquierda */
}

@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        top: 3em;
        bottom: 75%;
    }

    #preview {
        width: 100%;
        top: 25%;
        bottom: 0;
    }
}

#toggleSidebar {
    font-family: ArtifaktElement;
    font-size: 1em;
    background-color: #3b3b3f;
    color: #c7c7cc;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

/*#preview {
    width: 75%;
    right: 0;
    top: 3em;
    bottom: 0;
}*/

#preview .overlay-text {
    position: absolute;
    top: 05px;
    left: 10px;
    text-align: left;
    z-index: 1000;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.8);
    display: none; /* Oculto inicialmente */
}

#preview .overlay-text hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    margin: 5px 0;
    width: 100%;
}

#preview .overlay-text span {
    font-size: 12px; /* Tamaño más pequeño para el texto de copyright */
    font-weight: normal; /* Peso de fuente reducido */
    display: block; /* Asegura que esté en una nueva línea */
    margin-top: 10px; /* Espaciado superior */
}




#header > * {
    height: 2em;
    margin: 0 0.5em;
}

#login {
    font-family: ArtifaktElement;
    font-size: 1em;
    background-color: #3b3b3f;
    color: #c7c7cc;
}

#header .title {    
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 1.8em;
    color: #ffffff;
    font-weight: normal;
    margin-left: 0;
    white-space: nowrap;
}

#header .digital {
    font-weight: bold;
    color: #ffffff;
}

#header .dot {
    color: #008768;
    margin: 0 0.2em;
}

#header .twins {
    font-weight: bold;
    color: #ffffff;
}

#header .sensors {
    font-weight: normal;
    color: #008768;
    margin-left: 0.3em;
}



#tree {
    margin: 0.5em;
}

@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        top: 3em;
        bottom: 75%;
    }

    #preview {
        width: 100%;
        top: 25%;
        bottom: 0;
    }
}

.icon-hub:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/apps-16.svg); /* or https://raw.githubusercontent.com/primer/octicons/main/icons/stack-16.svg */
    background-size: cover;
}

.icon-project:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/project-16.svg); /* or https://raw.githubusercontent.com/primer/octicons/main/icons/organization-16.svg */
    background-size: cover;
}

.icon-my-folder:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/file-directory-16.svg);
    background-size: cover;
}

.icon-item:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/file-16.svg);
    background-size: cover;
}

.icon-version:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/clock-16.svg);
    background-size: cover;
}

.temperature-marker {
    background-color: white;
    color: blue;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    pointer-events: auto;
}

label.markup {
    position: absolute;
    white-space: nowrap;
    cursor: pointer;
}

label.update {
    z-index: 1;
}

.temperatureBorder {
    background-color: rgba(256, 256, 256, 0.6);
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px;
}



.temperatureHigh {
    font-size: 18px;
    color: red;
}

.temperatureYellow {
    font-size: 18px;
    color: orange;
}


.temperatureOk {
    font-size: 17px;
    color: green;
}

.temperatureBlue {
    font-size: 18px;
    color: cyan;
}



.temperatureLow {
    font-size: 18px;
    color: blue;
}


.maintenance {
    font-size: 20px;
    color: gray;
}
